// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

a {
  color: #002a9f !important;
  font-weight: bold;
}

.content div {
  margin-bottom: 15px;
}

.alert ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
